/* it ain't empty anymore! */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:b,i,bi|Open+Sans);

* {
    font-family: 'Open Sans', sans-serif;
}

div p {
    color:#001;
}

p:hover {
    background-color:hsl(43, 83%, 96%);
    color: hsla(0, 50%, 0%, 1);
}

div.mediabox {
    border-style: solid;
    border-color: #888888;
    border-width: auto;
    border-radius: 1%;
    background-color:beige;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}

body > header {
    background-color: rgb(255, 68, 68);
    color: rgba(255, 255, 255, 1);
    padding: 10px 10px 10px 10px;
    margin: 5px;
}

h2 + h3 {
    color:maroon;
    margin-bottom: 5px;
}

#form {
    background-color: azure;
}

[type="password"] {
    color:purple;
}

aside {
    width:20%;
}