/* it ain't empty anymore! */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:b,i,bi|Open+Sans);

* {
    font-family: 'Open Sans', sans-serif;
}

div p {
    color:#001;
    text-align: justify;
}

p:hover {
    background-color:hsl(43, 83%, 96%);
    color: hsla(0, 50%, 0%, 1);
}

div.mediabox {
    border-style: solid;
    border-color: #888888;
    border-width: auto;
    border-radius: 1%;
    background-color:beige;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}

#funstuff {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

#funstuff.h3 {
    padding: 2%;
}

body > header {
    background-color: rgb(255, 68, 68);
    color: rgba(255, 255, 255, 1);
    padding: 10px 10px 10px 10px;
    margin: 5px;
}

h2 + h3 {
    color:black;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: underline;
}

#form {
    background-color: azure;
    position: fixed;
}

[type="password"] {
    color:purple;
}

aside {
    width: 20%;
    min-width: 100px;
    max-width: 1000px;
    position: relative;
    left: 30px;
    border-style: solid;
    padding: 1%;
}

input:active {
    color: gray;
}